[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
boto3 = "*"
faker = "*"
python-dateutil = "*"
sklearn = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.8"
